<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKzcIBd4FxTgs9Qj2-zngln-IY7rte1Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>1027094878610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udyam.nextgen.next-gen</string>
	<key>PROJECT_ID</key>
	<string>next-gen-app-udyam</string>
	<key>STORAGE_BUCKET</key>
	<string>next-gen-app-udyam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027094878610:ios:3ae55544b8327e122c494b</string>
	<key>DATABASE_URL</key>
	<string>https://next-gen-app-udyam-default-rtdb.firebaseio.com</string>
</dict>
</plist>